/* ### RESET CSS ### */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ### VARIABLES ### */
:root {
  --vermelho: #e50914;
  --preta: #141414;
}

body {
  background: var(--preta);
  font-family: 'Netflix Sans Regular', Times, serif;
  color: white;
}

/* ### HEADER ### */
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

header .container a {
  margin-left: 8px;
}

header .logo {
  margin-right: 25px;
  color: var(--vermelho);
  font-family: 'Netflix Sans Black';
  font-size: 35px;
}

header .logo span {
  color: white;
}

header nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}

header nav a:hover {
  color: #aaa;
}

/* ### MAIN MOVIE ### */
.main-movie {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url('/assets/img/boruto.jpg');

  height: 400px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie:hover {
  background: url('/assets/img/Gif-fight.gif');
  transition-delay: 3.5s;

  background-size: cover;
}

.main-movie .description {
  margin-bottom: 40px;
  margin-top: 12px;
}

.title {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Netflix Sans Regular', Times, sans-serif;
}

/* ### BUTTONS ### */
.button-one,
.button-two {
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 3%;
  transition: 0.3s ease all;
}

.button-one {
  background-color: white;
  border: none;
  color: black;
}

.button-two {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
}

.button-one:hover,
.button-two:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.button-one i,
.button-two i {
  margin-right: 8px;
  font-size: 15px;
}

.container {
  margin-left: 20px;
}

.main-movie .container {
  width: 70%;
}

/* ### CAROUSEL MOVIE ### */
.box-movie {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 2%;
}

.item:hover {
  cursor: pointer;
  height: 110%;
  width: 110%;
}

.carousel-movie {
  margin-top: 5px;
}
