@media screen and (max-width: 400) {
  .main-movie .description {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }
  .button-one,
  .button-two {
    margin-top: 5px;
    width: 190px;
    height: 50px;
  }
}

@media screen and (min-width: 1000px) {
  .main-movie {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
      url('/assets/img/boruto.jpg');

    height: 600px;
    background-size: contain;
    background-size: 100% 100%;
  }

  .main-movie:hover {
    background: url('/assets/img/Gif-fight.gif');
    transition-delay: 3.5s;

    background-size: contain;
    background-size: 100% 100%;

    text-decoration-color: black;
  }

  .title {
    margin-top: 35%;
    font-size: 40px;
    font-family: 'Netflix Sans Regular', Times, sans-serif;
  }

  .main-movie .container {
    width: 100%;
  }

  .description {
    width: 40%;
  }

  .button-one,
  .button-two {
    margin-bottom: 20%;
  }
}
